<h1 class="welcome-title">ようこそMy Libraryへ</h1>


<h4 class="about-sentence">このサイトは、保存しておきたい写真を自分専用ページに保存しておけるライブラリサービスです。</h4>

<h2 class="jquery">〜Hello jQuery!〜</h1>


	<div id="container">
    <div id="theTarget">
	    <div class="image1"></div>
	    <div class="image2"></div>
	    <div class="image3"></div>
	    <div class="image4"></div>
	  </div>
	</div>

