<h2>ようこそ！Portfolioサイトへ</h2>

<p>個人ライブラリサイト</p>

	<p class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true">
		<%= link_to "アカウントお持ちのかたはこちら", new_user_session_path %></p>
	<br>

	<p class="glyphicon glyphicon-new-window" aria-hidden="true">
		<%= link_to "新規登録", new_user_registration_path %></p>