<h2>Library一覧</h2>

<div class="container">
  <div class="row">

		<!-- bootstrapでグリッド3 -->
		<div class="col-md-3" style="background-color: orange;">
			テスト
			

		</div>



		<!-- bootstrapでグリッド9 -->
		<div class="col-md-9" style="background-color: red;">
			<% @images.each do |image| %>
					<p>title</p>
						<%= attachment_image_tag image, :image, size: "80x80" %>
					<span><%= link_to image.title, image_path(image.id) %></span>
			<% end %>
		</div>

	</div>
</div>
